$color-one: #2e2e3e;
$color-two: #981521;
$color-three: #262635;

$background-color: $color-one;
$sidebar-color: $color-two;

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-size: 1rem;
}

body {
  background: $background-color;
}

.shadow_style {
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}

.button_style {
  @extend .shadow_style;
  padding: 12px 20px;
  border-radius: 8px;
  background: $color-two;
  border: none;
  color: #fff;

  &:hover {
    background: lighten($color-two, 10);
    transform: scale(1.03);
    will-change: transform;
  }

  &.selected {
    border: 1px solid #fff;
  }
}

.app {
  max-height: 100dvh;
  max-width: 100%;
  display: flex;
  flex-direction: column;
}

.navbar {
  @extend .shadow_style;
  height: 80px;
  width: 100%;
  background: $sidebar-color;
  display: flex;

  &-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  }

  &-side {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .logo {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    color: #fff;
  }

  .button {
    @extend .button_style;
    border: 1px solid #fff;
  }
}

.main {
  height: calc(100dvh - 80px);
  max-height: calc(100dvh - 80px);
  overflow: hidden;
  display: flex;
  flex-direction: column;

  &-container {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    overflow-y: auto;
  }

  &-choose {
    display: flex;
    gap: 20px;

    .button {
      @extend .button_style;
      width: 300px;
    }
  }

  &-panel {
    width: 90%;
    background: $color-three;
    border: 1px solid #fff;
    border-radius: 12px;
    color: #fff;
    flex: 1;
    flex-direction: column;
    display: none;
    overflow: hidden;

    &.active {
      display: flex;
    }

    &-buttons {
      display: flex;
      justify-content: space-evenly;
      gap: 20px;
      padding: 12px;

      .button {
        @extend .button_style;
        flex: 1;
      }
    }

    &-function {
      height: 100%;
      margin: 12px;
      border: 1px solid #fff;
      border-radius: 12px;
      overflow-y: auto;

      .items-list {
        overflow-y: scroll;
        display: flex;
        flex-direction: column;
        gap: 8px;
        padding: 12px;

        &-item {
          background: $color-two;
          border-radius: 4px;
          padding: 12px 20px;
        }
      }
    }
  }
}
